.header {
  background-image: url("../../../public/header_img.png");
  background-repeat: no-repeat;
  position: relative;
  height: 34vw;
  margin: 30px auto;
  background-size: contain;
}

.header-content {
  animation: fadeIn 3s ease-in;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
}

.header-content h2 {
  color: var(--color-white);
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}

.header-content p {
  font-size: 1vw;
  color: var(--color-white);
}
.header-content button {
  border: none;
  color: var(--color-btn01);
  font-weight: 500;
  padding: 1vw 2.3vw;
  background: var(--color-white);
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
